@import "../color.scss";

:host {
	padding: 20px;
	background: $charcoal;
	color: #eff1f5;

	li {
		display: block;
	}
	overflow-y: auto;

	> ul {
		> li {
			> span {
				line-height: 2.3em;
				padding: 2px;
				position: sticky;
				display: block;
				width: 100%;
				background: $charcoal;
				top: -20px;

				> fa-icon {
					margin-right: 10px;
				}

				border-bottom: 1px solid gray;
			}

			> ul {
				> li {
					font-size: 0.8em;
					line-height: 1.3em;
					line-height: 30px;
					padding-left: 1em;

					&:first-child {
						margin-top: 5px;
					}

					& + li {
						margin-top: 5px;
					}

					&.selected {
						background: $fresh;
					}
				}
			}

			& + li {
				margin-top: 10px;
			}
		}
	}
}